<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit a Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newjobstyle.css' %}">
</head>

<body>
    <div class="container">
        <h1 id="newjobtitle">{{ user.fname }} </h1>
        <div class="addjob">
                {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <form class="newjobform" action="/job/update/{{ job.id }}" method="POST">
                {% csrf_token %}
                <p>Date<input class="textbox" type="date" name="date" {% if value="{{ job.date }}"></p>
                <p>Description<input class="textbox" type="text" name="desc" value="{{ job.desc }}"></p>
                <p>Location<input class="textbox" type="text" name="location" value="{{ job.location }}"></p>
                <button id="cancelbutton" formaction="/dashboard">Cancel</button> <button id="submitbutton">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>