<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" script="text/css" href="style.css"> -->
</head>

<body>
    <div class="container">
        <!-- <div class="login"> -->
        <h3>Consulting Log</h3>
        {% if messages %}
        <ul id="loginmessages">
            {% for message in messages %}
            {% if "login" in message.tags %}
            <!-- <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li> -->
            <li>{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <form class="loginform" action="/c_log/authenticate" method="POST">
            {% csrf_token %}
            <p>User Name<input class="textbox" type="text" name="username"></p>
            <p>Password<input class="textbox" type="password" name="password"></p>
            <button>Log In</button>
        </form>
        <a href="/c_log/register">Register</a>
        <!-- </div> -->
        <!-- <input type="hidden" name="messageid" value="{{ message.id }}"> -->
    </div>
</body>

</html>